@model CRYBZ_CCSB.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelyear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelyear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SleepingAccomodation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SleepingAccomodation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BicycleCarrier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BicycleCarrier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorsePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CamperType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CamperType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TowBar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TowBar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmptyWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmptyWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingTank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingTank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LicencePlate">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
