@model IEnumerable<CRYBZ_CCSB.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelyear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SleepingAccomodation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BicycleCarrier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorsePower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CamperType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TowBar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmptyWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldingTank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelyear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SleepingAccomodation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BicycleCarrier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorsePower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CamperType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TowBar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmptyWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoldingTank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LicencePlate">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LicencePlate">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LicencePlate">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
